/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&nice_view_spi {
    cs-gpios = <&pro_micro 10 GPIO_ACTIVE_HIGH>;
};

&led_strip {
    chain-length = <6>;
};

/ {
    behaviors {
        DAN_L1: DAN_L1 {
            compatible = "zmk,behavior-tap-dance";
            label = "DAN_L1";
            #binding-cells = <0>;
            bindings = <&mo 1>, <&tog 1>;
        };

        HT_CAP: HT_CAP {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_CAP";
            bindings = <&kp>, <&caps_word>;

            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
        };

        DAN_CAP: DAN_CAP {
            compatible = "zmk,behavior-tap-dance";
            label = "DAN_CAP";
            #binding-cells = <0>;
            bindings = <&HT_CAP LSHIFT 0>, <&kp CAPS>;
        };

        HT_LNUM: HT_LNUM {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_LNUM";
            bindings = <&mo>, <&tog>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };

        DAN_L1_L2: DAN_L1_L2 {
            compatible = "zmk,behavior-tap-dance";
            label = "DAN_L1_L2";
            #binding-cells = <0>;
            bindings = <&HT_LNUM 1 1>, <&HT_LNUM 2 2>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp GRAVE  &kp Q        &kp W       &kp E       &kp R         &kp T       &kp Y      &kp U          &kp I           &kp O            &kp P            &kp SLASH
&kp TAB    &lt 1 A      &lt 2 S     &lt 3 D     &kp F         &kp G       &kp H      &kp J          &lt 3 K         &lt 2 L          &lt 1 SEMI       &kp SQT
&trans     &mt LCTRL Z  &mt LALT X  &mt LGUI C  &mt LSHIFT V  &kp B       &kp N      &mt RSHIFT M   &mt RGUI COMMA  &mt RALT PERIOD  &mt RCTRL SLASH  &trans
                                    &kp ESC     &DAN_L1_L2    &DAN_CAP    &kp SPACE  &kp BACKSPACE  &kp ENTER
            >;
        };

        num-sym {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp SLASH     &kp MINUS  &kp N7  &kp N8  &kp N9  &trans       &trans  &kp LBRC  &kp RBRC  &kp LT  &kp GT  &kp CARET
&kp ASTERISK  &kp PLUS   &kp N4  &kp N5  &kp N6  &kp EQUAL    &trans  &kp LPAR  &kp RPAR  &trans  &trans  &trans
&kp LSHIFT    &kp N0     &kp N1  &kp N2  &kp N3  &kp ENTER    &trans  &kp LBKT  &kp RBKT  &trans  &trans  &trans
                                 &to 0   &trans  &trans       &trans  &trans    &trans
            >;
        };

        arrow- {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans    &kp UP    &trans     &trans     &trans       &kp CARET  &kp AMPS   &kp KP_MULTIPLY  &kp LPAR  &kp RPAR  &kp BSPC
&trans  &kp LEFT  &kp DOWN  &kp RIGHT  &kp HOME   &kp END      &kp MINUS  &kp EQUAL  &kp LBKT         &kp RBKT  &kp BSLH  &kp GRAVE
&trans  &trans    &trans    &trans     &kp PG_UP  &kp PG_DN    &kp UNDER  &kp PLUS   &kp LBRC         &kp RBRC  &kp PIPE  &kp TILDE
                            &to 0      &trans     &trans       &trans     &trans     &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };
};
