/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&lt {
    flavor = "balanced";
    tapping-term-ms = <190>;
};

&mt { flavor = "balanced"; };

&sk { release-after-ms = <2000>; };

/* Homerow mods

#define QUICK_TAP_MS 175
#define KEYS_L LT0 LT1 LT2 LT3 LT4 LT5 LM0 LM1 LM2 LM3 LM4 LM5 LB0 LB1 LB2 LB3 LB4 LB5  // left hand
#define KEYS_R RT0 RT1 RT2 RT3 RT4 RT5 RM0 RM1 RM2 RM3 RM4 RM5 RB0 RB1 RB2 RB3 RB4 RB5  // right hand
#define THUMBS LH2 LH1 LH0 RH0 RH1 RH2                                                  // thumbs

#define MAKE_HRM(NAME, HOLD, TAP, TRIGGER_POS) \
    ZMK_BEHAVIOR(NAME, hold_tap, \
        flavor = "balanced"; \
        tapping-term-ms = <280>; \
        quick-tap-ms = <QUICK_TAP_MS>; \
        require-prior-idle-ms = <150>; \
        bindings = <HOLD>, <TAP>; \
        hold-trigger-key-positions = <TRIGGER_POS>; \
        hold-trigger-on-release; \
    )
MAKE_HRM(lt, &kp, &kp, KEYS_R THUMBS)  // left-hand HRMs
MAKE_HRM(lt, &kp, &kp, KEYS_L THUMBS)  // right-hand HRMs

MAKE_HRM(lt_repeat, &kp, &key_repeat, KEYS_R THUMBS)  // used for HRM-combo
MAKE_HRM(lt_lpar_lt, &kp, &lpar_lt, KEYS_L THUMBS)    // "    "   "   "
MAKE_HRM(lt_rpar_gt, &kp, &rpar_gt, KEYS_L THUMBS)    // "    "   "   "

*/

/ {
    behaviors {
        ht_L: ht_L {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_L";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <155>;
            quick-tap-ms = <135>;
            require-prior-idle-ms = <125>;
            flavor = "balanced";
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 36 37>;
            hold-trigger-on-release;
        };

        ht_R: ht_R {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_R";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <155>;
            quick-tap-ms = <135>;
            require-prior-idle-ms = <125>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37>;
            hold-trigger-on-release;
        };

        dQuoDbq: dQuoDbq {
            compatible = "zmk,behavior-tap-dance";
            label = "DQUODBQ";
            #binding-cells = <0>;
            bindings = <&kp Q>, <&kp LS(Q)>;

            tapping-term-ms = <235>;
        };

        dComCal: dComCal {
            compatible = "zmk,behavior-tap-dance";
            label = "DCOMCAL";
            #binding-cells = <0>;
            bindings = <&kp W>, <&kp LS(W)>;

            tapping-term-ms = <235>;
        };

        dPrdCar: dPrdCar {
            compatible = "zmk,behavior-tap-dance";
            label = "DPRDCAR";
            #binding-cells = <0>;
            tapping-term-ms = <250>;
            bindings = <&kp E>, <&kp LS(E)>;
        };

        dAndPer: dAndPer {
            compatible = "zmk,behavior-tap-dance";
            label = "DANDPER";
            #binding-cells = <0>;
            bindings = <&kp AMPS>, <&kp PERCENT>;

            tapping-term-ms = <250>;
        };

        dSemCol: dSemCol {
            compatible = "zmk,behavior-tap-dance";
            label = "DSEMCOL";
            #binding-cells = <0>;
            bindings = <&kp Z>, <&kp LS(Z)>;

            tapping-term-ms = <250>;
        };

        mt_L: mt_L {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_L";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <145>;
            flavor = "balanced";
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 41 40 37>;
            hold-trigger-on-release;
        };

        mt_R: mt_R {
            compatible = "zmk,behavior-hold-tap";
            label = "MT_R";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <160>;
            quick-tap-ms = <135>;
            flavor = "balanced";
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 37 40 36>;
            hold-trigger-on-release;
        };

        dGrvTld: dGrvTld {
            compatible = "zmk,behavior-tap-dance";
            label = "DGRVTLD";
            #binding-cells = <0>;
            bindings = <&kp GRAVE>, <&kp TILDE>;

            tapping-term-ms = <235>;
        };

        dFshBsh: dFshBsh {
            compatible = "zmk,behavior-tap-dance";
            label = "DFSHBSH";
            #binding-cells = <0>;
            bindings = <&kp LBKT>, <&kp BSLH>;

            tapping-term-ms = <235>;
        };

        dQstExc: dQstExc {
            compatible = "zmk,behavior-tap-dance";
            label = "DQSTEXC";
            #binding-cells = <0>;
            bindings = <&kp LS(LBKT)>, <&kp EXCL>;

            tapping-term-ms = <235>;
        };

        dDshAt: dDshAt {
            compatible = "zmk,behavior-tap-dance";
            label = "DDSHAT";
            #binding-cells = <0>;
            bindings = <&kp SQT>, <&kp AT>;

            tapping-term-ms = <235>;
        };

        ht_xvk: ht_xvk {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_XVK";
            bindings = <&m_xv>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <155>;
            quick-tap-ms = <135>;
            require-prior-idle-ms = <125>;
            flavor = "balanced";
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
        };

        ht_cvk: ht_cvk {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_CVK";
            bindings = <&m_cv>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <155>;
            quick-tap-ms = <135>;
            require-prior-idle-ms = <125>;
            flavor = "balanced";
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
        };

        d_xvk: d_xvk {
            compatible = "zmk,behavior-tap-dance";
            label = "D_XVK";
            #binding-cells = <0>;
            bindings = <&ht_xvk 0 HASH>, <&kp STAR>;

            tapping-term-ms = <225>;
        };

        d_cvk: d_cvk {
            compatible = "zmk,behavior-tap-dance";
            label = "D_CVK";
            #binding-cells = <0>;
            bindings = <&ht_cvk 0 GRAVE>, <&kp TILDE>;

            tapping-term-ms = <225>;
        };

        ht_W: ht_W {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_W";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <110>;
            flavor = "balanced";
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 36 37>;
            require-prior-idle-ms = <50>;
        };

        mdt_L: mdt_L {
            compatible = "zmk,behavior-hold-tap";
            label = "MDT_L";
            bindings = <&mo>, <&gresc>;

            #binding-cells = <2>;
            tapping-term-ms = <145>;
            flavor = "balanced";
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 41 40 37>;
            hold-trigger-on-release;
        };

        spc_tab: spc_tab {
            compatible = "zmk,behavior-mod-morph";
            label = "SPC_TAB";
            bindings = <&mm_L 4 SPACE>, <&kp TAB>;

            #binding-cells = <0>;
            keep-mods = <(MOD_LALT)>;
            mods = <(MOD_LALT)>;
        };

        mm_L: mm_L {
            compatible = "zmk,behavior-hold-tap";
            label = "MM_L";
            bindings = <&mo>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <145>;
            flavor = "balanced";
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 41 40 37>;
            hold-trigger-on-release;
        };
    };

    macros {
        ms_wrkD: ms_wrkD {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp LS(C) &kp LS(D) &kp LS(O) &kp LS(V) &kp LS(G) &kp LS(L) &kp LS(U)>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp N3 &kp O &kp S &kp A &kp O &kp G &kp L &kp U &kp N6 &kp Y &kp P &kp A &kp L &kp A &kp U &kp A &kp L &kp N8 &kp I &kp O &kp G &kp SEMI>;

            label = "MS_WRKD";
        };

        ms_wrkQ: ms_wrkQ {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp J &kp E &kp R &kp K &kp I &kp N &kp G>,
                <&macro_release>,
                <&kp LSHFT>,
                <&macro_tap>,
                <&kp N3 &kp R &kp O &kp A &kp R &kp I &kp N &kp G &kp N6 &kp F &kp L &kp A &kp N &kp A &kp G &kp A &kp N &kp N8 &kp C &kp R &kp I &kp S>;

            label = "MS_WRKQ";
        };

        ms_mac: ms_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SEMI &kp J &kp D &kp D &kp L &kp N6 &kp COLON &kp LT &kp LS(D) &kp LS(O) &kp GT &kp LS(D) &kp N9 &kp SEMI &kp K &kp O &kp A &kp L &kp U &kp D &kp O &kp N6 &kp C &kp G &kp L &kp B>;
            label = "MS_MAC";
        };

        m_2cmd: m_2cmd {
            compatible = "zmk,behavior-macro-two-param";
            #binding-cells = <2>;
            bindings =
                <&macro_param_1to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>,
                <&macro_pause_for_release>,
                <&macro_param_2to1>,
                <&macro_tap>,
                <&kp MACRO_PLACEHOLDER>;

            label = "M_2CMD";
        };

        m_retup: m_retup {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME &kp LS(RET) &kp UP>;
            label = "M_RETUP";
        };

        ms_phnx: ms_rphe {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp D &kp FSLH &kp D &kp V &kp G &kp D &kp P &kp N7 &kp R &kp S &kp P &kp A &kp O &kp G &kp K &kp T &kp N4 &kp LS(U) &kp LS(A) &kp LS(M) &kp LS(M) &kp LS(D) &kp LS(O) &kp N4 &kp N &kp G &kp S &kp K &kp A>;
            label = "MS_RPHE";
        };

        m_2tabto0: m_2tabto0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&macro_tap>, <&kp TAB &to 0>;

            label = "M_2TABTO0";
        };

        m_xv: m_xv {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LC(B)>,
                <&macro_pause_for_release>,
                <&macro_tap>,
                <&kp LC(PERIOD)>;

            label = "M_XV";
        };

        m_cv: m_cv {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap>,
                <&kp LC(I)>,
                <&macro_pause_for_release>,
                <&macro_tap>,
                <&kp LC(PERIOD)>;

            label = "M_CV";
        };

        mLab_studio: mLab_studio {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp L &kp H &kp D &kp B &kp SPACE &kp SQT &kp SPACE &kp SEMI &kp K &kp F &kp H &kp G &kp S &kp SPACE &kp F &kp L &kp P &kp S &kp I &kp V>;
            label = "MLAB_STUDIO";
        };

        mLab_btclr: mLab_btclr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp M &kp G &kp H &kp H &kp P &kp D &kp SPACE &kp SQT &kp SPACE &kp N &kp K &kp DQT &kp I &kp P &kp O>;
            label = "MLAB_BTCLR";
        };

        mLab_boot: mLab_boot {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp O &kp G &kp L &kp U &kp SPACE &kp SQT &kp SPACE &kp N &kp S &kp S &kp K &kp P &kp S &kp A &kp H &kp D &kp O>;
            label = "MLAB_BOOT";
        };

        mLab_reset: mLab_reset {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp R &kp G &kp L &kp V &kp T &kp SPACE &kp SQT &kp SPACE &kp SEMI &kp T &kp SEMI &kp SPACE &kp O &kp D &kp SEMI &kp D &kp K>;
            label = "MLAB_RESET";
        };
    };

    combos {
        compatible = "zmk,combos";

        c_parL {
            bindings = <&kp LPAR>;
            key-positions = <1 2>;
            timeout-ms = <30>;
            require-prior-idle-ms = <130>;
        };

        c_parR {
            bindings = <&kp RPAR>;
            key-positions = <3 4>;
            timeout-ms = <30>;
            require-prior-idle-ms = <130>;
        };

        c_home {
            bindings = <&kp HOME>;
            key-positions = <15 16>;
            require-prior-idle-ms = <150>;
        };

        c_end {
            bindings = <&kp END>;
            key-positions = <16 17>;
        };

        c_dol {
            bindings = <&kp DLLR>;
            key-positions = <36 28 27>;
        };

        c_pipe {
            bindings = <&kp PIPE>;
            key-positions = <28 16 4>;
            timeout-ms = <200>;
        };

        c_caps {
            bindings = <&kp CAPSLOCK>;
            key-positions = <17 18>;
            require-prior-idle-ms = <400>;
            layers = <0 3>;
        };

        c_cut {
            bindings = <&kp LC(B)>;
            key-positions = <25 27>;
        };

        c_paste {
            bindings = <&kp LC(DOT)>;
            key-positions = <16 14>;
            require-prior-idle-ms = <350>;
            timeout-ms = <30>;
        };

        c_copy {
            bindings = <&kp LC(I)>;
            key-positions = <13 15>;
            timeout-ms = <21>;
            require-prior-idle-ms = <350>;
        };

        c_esc {
            bindings = <&kp ESC>;
            key-positions = <13 14>;
            require-prior-idle-ms = <150>;
            timeout-ms = <30>;
        };

        c_ltroub {
            bindings = <&to 7>;
            key-positions = <24 12 38>;
            require-prior-idle-ms = <3000>;
        };

        c_ltroubR {
            bindings = <&to 7>;
            key-positions = <39 35 23>;
            require-prior-idle-ms = <3000>;
        };

        cs_dwrk {
            bindings = <&ms_wrkD>;
            key-positions = <17 13 20 22>;
            require-prior-idle-ms = <3000>;
            timeout-ms = <100>;
        };

        c_qwrk {
            bindings = <&ms_wrkQ>;
            key-positions = <20 22 26 13>;
            require-prior-idle-ms = <3000>;
            timeout-ms = <100>;
        };

        cWyrm {
            bindings = <&ms_mac>;
            key-positions = <5 9 31 32>;
            timeout-ms = <100>;
            require-prior-idle-ms = <3000>;
        };

        c_dskl {
            bindings = <&kp LG(LC(LEFT_ARROW))>;
            key-positions = <0 1 37>;
            timeout-ms = <150>;
        };

        c_deskr {
            bindings = <&kp LG(LC(RIGHT_ARROW))>;
            key-positions = <4 5 37>;
            timeout-ms = <150>;
        };

        c_sum {
            bindings = <&kp RBRC>;
            key-positions = <16 22 31>;
        };

        c_eq {
            bindings = <&kp RBKT>;
            key-positions = <26 15 16>;
        };

        c_pow {
            bindings = <&kp CARET>;
            key-positions = <4 14 32>;
        };

        c_ast {
            bindings = <&kp STAR>;
            key-positions = <13 22 20>;
        };

        c_tab {
            bindings = <&kp TAB>;
            key-positions = <27 28>;
            layers = <2>;
        };

        c_btx1 {
            bindings = <&bt BT_DISC 0>;
            key-positions = <38 25>;
        };

        c_btx2 {
            bindings = <&bt BT_DISC 1>;
            key-positions = <38 26>;
        };

        c_btx3 {
            bindings = <&bt BT_DISC 2>;
            key-positions = <38 27>;
        };

        c_btx4 {
            bindings = <&bt BT_DISC 3>;
            key-positions = <38 28>;
        };

        c_btx5 {
            bindings = <&bt BT_DISC 4>;
            key-positions = <38 29>;
        };

        c_bksp {
            bindings = <&kp BSPC>;
            key-positions = <26 25>;
            timeout-ms = <30>;
        };

        c_ret {
            bindings = <&kp RET>;
            key-positions = <29 28>;
        };

        cs_phx {
            bindings = <&ms_phnx>;
            key-positions = <19 4 29 21>;
            require-prior-idle-ms = <3000>;
            timeout-ms = <100>;
        };

        cBt1 {
            bindings = <&bt BT_SEL 0>;
            key-positions = <38 13>;
        };

        cBt2 {
            bindings = <&bt BT_SEL 1>;
            key-positions = <38 14>;
        };

        cBt3 {
            bindings = <&bt BT_SEL 2>;
            key-positions = <38 15>;
        };

        cBt4 {
            bindings = <&bt BT_SEL 3>;
            key-positions = <38 16>;
        };

        cBt5 {
            bindings = <&bt BT_SEL 4>;
            key-positions = <38 17>;
        };

        cw_bktl {
            bindings = <&kp MINUS>;
            key-positions = <0 1>;
        };

        cw_bktr {
            bindings = <&kp EQUAL>;
            key-positions = <5 4>;
        };

        cw_ins {
            bindings = <&kp INS>;
            key-positions = <3 2>;
            timeout-ms = <30>;
        };

        cw_lgui {
            bindings = <&sk LEFT_GUI>;
            key-positions = <13 37>;
            require-prior-idle-ms = <125>;
        };

        cw_ctrl {
            bindings = <&sk LCTRL>;
            key-positions = <37 14>;
            require-prior-idle-ms = <125>;
        };

        cw_alt {
            bindings = <&sk LEFT_ALT>;
            key-positions = <37 15>;
            require-prior-idle-ms = <125>;
        };

        cw_shft {
            bindings = <&sk LSHFT>;
            key-positions = <37 16>;
            require-prior-idle-ms = <125>;
        };

        cw_toggle {
            bindings = <&tog 2>;
            key-positions = <14 15>;
            timeout-ms = <30>;
            require-prior-idle-ms = <350>;
        };

        c_r0 {
            bindings = <&kp N0>;
            key-positions = <35 34>;
            timeout-ms = <50>;
        };

        c_n1 {
            bindings = <&kp N1>;
            key-positions = <34 33>;
            timeout-ms = <30>;
            require-prior-idle-ms = <350>;
        };

        c_n2 {
            bindings = <&kp N2>;
            key-positions = <33 32>;
            timeout-ms = <30>;
            require-prior-idle-ms = <350>;
        };

        c_n3 {
            bindings = <&kp N3>;
            key-positions = <32 31>;
            timeout-ms = <30>;
            require-prior-idle-ms = <350>;
        };

        c_n4 {
            bindings = <&kp NUMBER_4>;
            key-positions = <22 21>;
            require-prior-idle-ms = <350>;
            timeout-ms = <30>;
        };

        c_n5 {
            bindings = <&kp N5>;
            key-positions = <21 20>;
            timeout-ms = <30>;
            require-prior-idle-ms = <350>;
        };

        c_n6 {
            bindings = <&kp N6>;
            key-positions = <20 19>;
            timeout-ms = <30>;
            require-prior-idle-ms = <350>;
        };

        c_lthan {
            bindings = <&kp LS(W)>;
            key-positions = <13 1>;
        };

        c_colon {
            bindings = <&kp LS(Z)>;
            key-positions = <14 2>;
        };

        c_dash {
            bindings = <&kp APOS>;
            key-positions = <15 3>;
        };

        c_btck {
            bindings = <&kp GRAVE>;
            key-positions = <0 12>;
        };

        c_tilde {
            bindings = <&kp TILDE>;
            key-positions = <24 12>;
        };

        c_gthan {
            bindings = <&kp LS(E)>;
            key-positions = <13 25>;
        };

        c_uscor {
            bindings = <&kp LS(APOS)>;
            key-positions = <15 27>;
        };

        c_powl {
            bindings = <&kp CARET>;
            key-positions = <16 3 14>;
        };

        c_prcnt {
            bindings = <&kp PRCNT>;
            key-positions = <16 28>;
        };

        c_bslsh {
            bindings = <&kp BSLH>;
            key-positions = <28 3>;
        };

        cmac_toggle {
            bindings = <&tog 1>;
            key-positions = <4 1>;
            timeout-ms = <30>;
            require-prior-idle-ms = <350>;
        };

        c_capsl {
            bindings = <&kp CAPS>;
            key-positions = <24 25>;
        };

        c_n7 {
            bindings = <&kp N7>;
            key-positions = <10 9>;
            timeout-ms = <30>;
            require-prior-idle-ms = <350>;
        };

        c_n8 {
            bindings = <&kp N8>;
            key-positions = <9 8>;
            timeout-ms = <30>;
            require-prior-idle-ms = <350>;
        };

        c_n9 {
            bindings = <&kp N9>;
            key-positions = <8 7>;
            timeout-ms = <30>;
            require-prior-idle-ms = <350>;
        };

        c_amps {
            bindings = <&kp AMPS>;
            key-positions = <16 4>;
        };

        c_hsh {
            bindings = <&kp HASH>;
            key-positions = <5 17>;
        };

        c_at {
            bindings = <&kp AT>;
            key-positions = <17 29>;
        };

        c_semicol {
            bindings = <&kp Z>;
            key-positions = <14 26>;
        };

        c_win {
            bindings = <&kp LWIN>;
            key-positions = <13 22>;
        };

        c_fslsh {
            bindings = <&kp LBKT>;
            key-positions = <4 27>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        home {
            bindings = <
&d_cvk    &dQuoDbq      &dComCal       &dPrdCar      &kp R          &kp T          &kp Y       &kp U          &kp I         &kp O          &kp P            &dFshBsh
&d_xvk    &ht_L LGUI A  &ht_L LCTRL S  &ht_L LALT D  &ht_L LSHFT F  &kp G          &kp H       &ht_R RSHFT J  &ht_R RALT K  &ht_R RCTRL L  &ht_R RGUI SEMI  &dDshAt
&dAndPer  &dSemCol      &kp X          &kp C         &kp V          &kp B          &kp N       &kp M          &kp COMMA     &kp DOT        &kp FSLH         &dQstExc
                                       &mt_R 3 DEL   &mt_L 4 TAB    &key_repeat    &kp RETURN  &mt_R 3 SPACE  &kp BSPC
            >;

            label = "spy|qrl";
        };

        macmode {
            bindings = <
&trans  &trans         &trans         &trans  &trans  &trans    &trans  &trans  &trans  &trans         &trans            &trans
&trans  &ht_L LCTRL A  &ht_L LMETA S  &trans  &trans  &trans    &trans  &trans  &trans  &ht_R RMETA L  &ht_R RCTRL SEMI  &trans
&trans  &trans         &trans         &trans  &trans  &trans    &trans  &trans  &trans  &trans         &trans            &trans
                                      &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "macmode";
        };

        wilber {
            bindings = <
&ht_W X U          &ht_W V P      &ht_W DOT G    &ht_W T S     &ht_W N O      &ht_W B M       &trans  &trans  &trans  &trans  &trans  &trans
&ht_W LS(Q) H      &ht_W LMETA K  &ht_W LCTRL A  &ht_W LALT D  &ht_W LSHFT L  &ht_W Q SEMI    &trans  &trans  &trans  &trans  &trans  &trans
&ht_W SLASH COMMA  &ht_W EXCL I   &ht_W LBRC F   &ht_W W R     &ht_W E J      &ht_W C Y       &trans  &trans  &trans  &trans  &trans  &trans
                                                 &trans        &spc_tab       &trans          &trans  &trans  &trans
            >;
        };

        num-sys {
            bindings = <
&kp LBKT  &dQuoDbq   &kp KP_N7          &kp KP_N8         &kp KP_N9          &kp STAR    &none   &kp C_RW            &kp C_STOP       &kp C_FF            &kp C_BRI_UP          &none
&kp APOS  &kp E      &ht_L LCTRL KP_N4  &ht_L LALT KP_N5  &ht_L LSHFT KP_N6  &kp RBRC    &none   &ht_R RSHFT C_PREV  &ht_R RALT C_PP  &ht_R RCTRL C_NEXT  &ht_R RMETA C_BRI_DN  &none
&kp RET   &kp KP_N0  &kp KP_N1          &kp KP_N2         &kp KP_N3          &none       &none   &kp C_VOL_DN        &kp C_MUTE       &kp C_VOL_UP        &none                 &none
                                        &to 0             &trans             &trans      &trans  &trans              &trans
            >;

            label = "num|sys";
        };

        nav-func {
            bindings = <
&mt PSCRN LC(PSCRN)  &kp LC(LEFT_ARROW)      &kp UP    &kp LC(RIGHT_ARROW)      &kp LC(SLASH)         &kp LC(LS(SLASH))    &none   &kp F9          &kp F10             &kp F11         &kp F12         &none
&m_retup             &kp LEFT                &kp DOWN  &kp RIGHT                &ht_L LSHFT LS(HOME)  &kp LS(END)          &none   &ht_R RSHFT F5  &ht_R RIGHT_ALT F6  &ht_R RCTRL F7  &ht_R RMETA F8  &none
&kp LC(COMMA)        &kp LC(LS(LEFT_ARROW))  &none     &kp LS(LC(RIGHT_ARROW))  &kp PG_UP             &kp PG_DN            &none   &kp F1          &kp F2              &kp F3          &kp F4          &none
                                                       &to 0                    &trans                &trans               &trans  &trans          &trans
            >;

            label = "nav|func";
        };

        macnav {
            bindings = <
&trans  &kp LA(LEFT)      &trans  &kp LA(RIGHT)      &kp LG(SLASH)  &kp LS(LG(SLASH))    &trans  &trans  &trans  &trans          &trans          &trans
&trans  &trans            &trans  &trans             &trans         &trans               &trans  &trans  &trans  &ht_R RMETA F7  &ht_R RCTRL F8  &trans
&trans  &kp LA(LS(LEFT))  &trans  &kp LA(LS(RIGHT))  &trans         &trans               &trans  &trans  &trans  &trans          &trans          &trans
                                  &to 1              &trans         &trans               &trans  &trans  &trans
            >;

            label = "macnav";
        };

        home-gaming {
            bindings = <
&kp EQUAL  &kp Q  &kp W  &kp E   &kp R   &kp T     &kp Y   &kp U   &kp I      &kp O    &kp P     &kp LBKT
&kp SQT    &kp A  &kp S  &kp D   &kp F   &kp G     &kp H   &kp J   &kp K      &kp L    &kp SEMI  &kp SQT
&kp MINUS  &kp Z  &kp X  &kp C   &kp V   &kp B     &kp N   &kp M   &kp COMMA  &kp DOT  &kp FSLH  &kp EXCL
                         &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "vidjo";
        };

        system {
            bindings = <
&none  &sys_reset   &bootloader  &bt BT_CLR   &studio_unlock  &none    &none  &studio_unlock  &bt BT_CLR   &bootloader  &sys_reset   &none
&none  &mLab_reset  &mLab_boot   &mLab_btclr  &mLab_studio    &none    &none  &mLab_studio    &mLab_btclr  &mLab_boot   &mLab_reset  &none
&none  &none        &none        &none        &none           &none    &none  &none           &none        &none        &none        &none
                                 &to 0        &none           &none    &none  &none           &to 0
            >;

            label = "sys";
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        macmode {
            if-layers = <1 4>;
            then-layer = <5>;
        };
    };
};
